.logo {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage img{
    width: 65px;
    margin-right: 10px;
}

.logoLink a{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: whitesmoke;
    text-decoration: none;
}