@font-face {
  font-family: centuryGothic;
  src: url(century-gothic.woff);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "centuryGothic", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.readMore {
  transition: all 1s ease;
  border-radius: 90px;
  text-transform: uppercase;
  background-color: #333;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 13px;
  padding: 8px 15px 8px;
  margin-bottom: 20px;
  display: inline-block;
}

.readMore:hover {
  color: #6170da;
  border-color: #6170da;
}



